<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
</head>
<body>
  <h1>Welcome, <%= user.username %>!</h1>
  <a href="/stories/new">Create a Story</a>
  <h2>Your Stories</h2>
  <% if (stories.length > 0) { %>
    <ul>
      <% stories.forEach((story) => { %>
        <li>
          <a href="/stories/<%= story._id %>"><%= story.title %></a>
	  <span>Author: <%= story.author %></span>
          <span>Rating: <%= story.ratings.length > 0 ? (story.ratings.reduce((acc, curr) => acc + curr.rating, 0) / story.ratings.length).toFixed(1) : 'N/A' %></span>
        </li>
      <% }); %>
    </ul>
  <% } else { %>
    <p>No stories submitted yet</p>
  <% } %>
</body>
</html>

